@tailwind base;
@tailwind components;
@tailwind utilities;

.whyChoose-card{
    background-color: #f0f3f1 !important;
} 

.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
    background-color: #286a25 !important;
    border-color: #286a25 !important; 
    color: white !important;
} 

.steps .ant-steps-icon {
    color: white !important; 
   
}