@tailwind base;
@tailwind components;
@tailwind utilities; 


/* for Google Translate   */   

/* Hide the Google Translate banner */

.antialiased{
    position: inherit ! important;
}

/* Hide the Google Translate toolbar */
.goog-te-gadget {
  display: none !important;
} 
/* Hide the Google Translate banner */
.goog-te-banner-frame {
  display: none !important;
}
/* Remove pop-up preview */
.goog-te-balloon-frame {
  display: none !important;
}
 
/* Hide the floating dropdown */
.goog-te-menu-frame {
  display: none !important;
}
 
/* Hide Google Translate Top Bar */
.skiptranslate {
  display: none !important;
}
 
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
  display: none !important;
}
 
.VIpgJd-ZVi9od-aZ2wEe {
  display: none !important;
} 

::selection {
  background: #286a25 !important;
  color: white !important;
}

/* finish there  */



.whyChoose-card{
    background-color: #f0f3f1 !important;
} 

.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
    background-color: #286a25 !important;
    border-color: #286a25 !important; 
    color: white !important;
} 

.steps .ant-steps-icon {
    color: white !important; 
   
}