@tailwind base;
@tailwind components;
@tailwind utilities; 


/* for Google Translate   */   

/* Hide the Google Translate banner */

.antialiased{
    position: inherit ! important;
}

/* Hide the Google Translate toolbar */
.goog-te-gadget {
  display: none !important;
} 
/* Hide the Google Translate banner */
.goog-te-banner-frame {
  display: none !important;
}
/* Remove pop-up preview */
.goog-te-balloon-frame {
  display: none !important;
}
 
/* Hide the floating dropdown */
.goog-te-menu-frame {
  display: none !important;
}
 
/* Hide Google Translate Top Bar */
.skiptranslate {
  display: none !important;
}
 
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
  display: none !important;
}
 
.VIpgJd-ZVi9od-aZ2wEe {
  display: none !important;
} 

::selection {
  background: #286a25 !important;
  color: white !important;
}

/* finish there  */



.whyChoose-card{
    background-color: #f0f3f1 !important;
} 

.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
    background-color: #286a25 !important;
    border-color: #286a25 !important; 
    color: white !important;
} 

.steps .ant-steps-icon {
    color: white !important; 
   
} 



/* scroll bar */ 
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf00;
}

/* Handle */
::-webkit-scrollbar-thumb {

  /* background: #6b5ecc34;  */
  background: #f6f6f6;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6;
}    


.animation-container {
  position: relative;
  background: white;
  overflow: hidden;
}
/* 
.text-container {
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 24px;
  z-index: 1;
}

.car-container {
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translateY(-50%);
  z-index: 2;
}

.car {
  width: 500px; 
  height: 700px;
} */

/* For disabled cells in Calendar component */
.ant-picker-calendar
  .ant-picker-cell.ant-picker-cell-disabled
   {
  background-color: white !important;
  color: #d9d9d9 !important;
  pointer-events: none;
}



/* .ant-picker-cell-disabled:hover .ant-picker-cell-inner {
  background-color: #f9f9f9 !important;
  color: #bfbfbf !important;
} */